* {
    margin: 0;
    padding: 0;

}

body {
    background: url('images/pizza1.jpg') rgba(126, 123, 123, 0.795) center center fixed;
    background-size: cover;
    background-blend-mode: darken;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container img {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 220px;

}

.container h1 {
    color: orangered;
    margin-left: 10px;
    cursor: pointer;
}

.navbar ul div {
    display: inline-block;
    padding: 18px;
    text-transform: uppercase;
}


.navbar ul div a {
    text-decoration: none;
    color: #fff;
    padding: 4px;
    transition: .9s;
}

.navbar ul div a:hover {
    box-shadow: 0 3px 50px orangered inset, 0 3px 50px orangered inset,
        0 3px 50px orangered inset, 0 3px 50px orangered inset;
}

.reservation {
    padding: 8px;
    background: orangered;
}


.content {
    position: absolute;
    color: #fff;
    top: 30%;
    left: 30%;
}

.content h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 130px;
    color: darkorange;
}

.content h1 {
    font-size: 50px;
}


.content p {
    text-align: center;
    margin-top: 17px;
}

.search {
    position: absolute;
    margin-top: 19%;
    margin-left: 42%;
}

.search input {
    outline: none;
    border: none;
    padding: 12px 40px;
    size: 1em;
    width: 100%;
}

.submit {
    position: absolute;
    margin-top: 23%;
    margin-left: 48%;
}

.submit a {
    text-decoration: none;
    color: #fff;
    padding: 12px 25px;
    background-color: orangered;
}


footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: orangered;
    color: #fff;
    padding: 30px 0 30px;
    border-top-left-radius: 125px;
    font-size: 15px;
    height: 270px;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 20%;
    padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
    flex-basis: 15%;
}

.logo {
    width: 80px;
    margin-bottom: 30px;
}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px;
}

ul div {
    list-style: none;
    margin-bottom: 12px;
}

ul div a {
    text-decoration: none;
    color: #fff;
}

form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form .fa-solid {
    font-size: 18px;
    margin-right: 10px;
}


form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: none;
    outline: none;
}


form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}


form button .fa-solid {
    font-size: 16px;
    color: #ccc;
}


.social-icons .fa-brands {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

hr {
    width: 90%;
    height: 35px;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}


.copyright {
    text-align: center;
}

.col a {
    font-size: 15px;
}

.col p {
    font-size: 15px;
    font-weight: 25px;
}