@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,200&family=Roboto+Mono:ital,wght@1,500&display=swap');

* {
    font-family: 'Poppins' sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    list-style: none;
    text-decoration: none;
}

/*   Variables  */

:root {
    --main-color: #2288ff;
    --second-color: #192f6a;
    --rext-color: #314862;
    --bg-color: #fff;


    /*   box shadow  */

    --box-shadow: 2px 2px 18px rgb(14 52 54/15%);
}


img {
    width: 100%;
}

body {
    color: var(--text-color);
}

section {
    padding: 4.5rem 0 3rem;
}

.container {
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: block;
    width: 100%;
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}


.logo {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--rext-color);
    text-transform: uppercase;
}

.logo .bx {
    font-size: 24px;
    color: var(--main-color);
}



.navbar {
    display: flex;
}

.navbar a {
    padding: 8px 17px;
    color: var(--rext-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}



.navbar a:hover {
    color: var(--main-color);
}


#menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

#menu {
    display: none;
}



.btn {
    padding: 8px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 5rem;
}

.btn:hover {
    background: #3492fd;
}



/*   home */

.home-container {
    margin-top: 5rem;
    background: url('images/home2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 480px;
    border-radius: 1.5rem;
    display: var(--bg-color);
    display: flex;
    align-items: center;
}

.home-text {
    padding-left: 35px;
}

.home-text h1 {
    color: var(--bg-color);
    font-size: 2rem;
    margin-bottom: 1rem;
}


.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
    gap: 2rem;
    margin-left: 60px;
}

.about-text {
    font-variant-caps: petite-caps;
}


.about-img img {
    border-radius: 3rem 0 3rem 3rem;
    width: 430px;
    height: 34opx;

}

.about-text span {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--main-color);
}


.about-text h2 {
    font-size: 1.7rem;
}

.about-text p {
    font-size: 0.938rem;
    margin: 1rem 0 1rem;
}