h2 {
    background-color: aquamarine;
    color: red;
}

p {
    background-color: bisque;
    color: blue;
}

h3 {
    background-color: darkgray;
    color: crimson;
}

h4 {
    background-color: violet;
    color: goldenrod;
}