* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full-page {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(99, 95, 95, 0.5)50%, rgba(77, 74, 74, 0.5)50%), url(flood.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

/* this block of code is for the setting the background img and the position of the img */


.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;

    /* this if for setting the dimensions of the navigation bar */

}

.navbar img {
    width: 50px;
    height: 50px;
}


.navbar a h1 {
    display: inline-block;
    color: antiquewhite;
    font-size: 30px;
}

nav {
    display: flex;
    flex: 1;
    text-align: right;
    justify-content: space-evenly;

}

/*  this blocks are for styling the list */

nav div button {
    font-size: 20px;
    color: whitesmoke;
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}


.login:hover {
    color: #009688;
}

.login {
    text-decoration: none;
    color: rgb(233, 69, 123);
    font-size: 28px;
}


/*  time for html file and others stuff */


/*   #login-form 
    {
    display: none;
}     */

/*  this block if for hiding the form */

.form-box {
    width: 420px;
    height: 580px;
    position: relative;
    margin: 5% auto;
    background: rgba(0, 0, 0, 0.3);
    padding: 15px;
    overflow: hidden;
}

/*  creating the form with width, height and etc */


.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #d0ff24;
    border-radius: 30px;
}



.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}



#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #f3c693;
    border-radius: 30px;
    transition: 5s;
}

/*   work only in log in and register button also slide btn  */

.input-group-login {
    top: 385px;
    position: absolute;
    width: 280px;
    transition: 5s;
}


.input-group-register {
    top: 110px;
    position: absolute;
    width: 280px;
    transition: .5s;
}


.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #dce582;
    outline: none;
    background: transparent;
}



.submit-btn {
    width: 75%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #f3c693;
    border: 0;
    outline: none;
    border-radius: 30px;

}


.check-box {
    margin: 15px 5px 20px 0;
}



span {
    color: #009688;
    font-size: 16px;
    bottom: 52px;
    position: absolute;
}


#login {
    left: 50px;
}



#login input {
    color: #d0ff24;
    font-size: 15px;
}



#register {
    left: 45px;
}



#register input {
    color: #d0ff24;
    font-size: 15px;
}