/* $color-1 : #cdb4db ; // Mobile
$color-2 : #fff1a6 ; // Tablet
$color-3 : #52b788 ; // Laptop
$color-4 : #bee1e6 ; // desktop */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;


    /* display: flex;
    justify-content: center;
    align-items: center; */


    display: grid;
    place-content: center;
    background-color: #cdb4db;
}

.text{}

#size{
    position: absolute;

    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    color: tomato;
}

@media (max-width: 576px) {
    .container {
        background-color: limegreen;
        font-size: 16px;
    }    
}


@media (min-width: 768px) {
    .container {
        background-color: burlywood;
    }
}

@media (min-width: 992px) {
    .container{
        background-color: darkgoldenrod;
    }
}

