@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --main-color: #be9c79;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --border: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

*::selection {
    background-color: var(--main-color);
    color: var(--white);
}

::-webkit-scrollbar {
    height: 8px;
    width: 16px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding: 64px;
}

section {
    padding: 48px 32px;
    max-width: 1200px;
    margin: 0 auto;
}


.heading {
    text-align: center;
    margin-bottom: 32px;
}


.heading img {
    height: 44px;
    margin-bottom: 16px;
}

.heading h3 {
    font-size: 50px;
    color: black;
    font-family: 'Merienda one', cursive;
}


.btn {
    display: inline-block;
    margin-top: 14px;
    background-color: var(--main-color);
    cursor: pointer;
    color: var(--white);
    font-size: 20px;
    padding: 14px 32px;
    border-radius: 10px;
}

.btn:hover {
    background-color: black;
}


.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 24px 32px;
}

.header .flex .logo img {
    height: 72px;
}

.header .flex .navbar a {
    margin-left: 32px;
    font-size: 30px;
    color: var(--black);
}

.header .flex .navbar a:hover {
    text-decoration: underline;
    color: var(--main-color);
}


#menu-btn {
    display: none;
    font-size: 40px;
    color: var(--black);
    cursor: pointer;
}


.home-bg {
    background: url('front.avif') no-repeat, linear-gradient(90deg, var(--white), transparent 70%);
    background-size: cover;
    background-position: center;
}


.home-bg .home {
    min-height: 840px;
    display: flex;
    align-items: center;
}

.home-bg .home .content {
    width: 475px;
    text-align: center;
}


.home-bg .home .content h3 {
    font-size: 65px;
    color: bisque;
    font-family: 'Merienda one', cursive;
}

.home-bg .home .content p {
    padding: 16px 0;
    font-size: 22px;
    color: floralwhite;
    line-height: 2;
}


.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 54px;
}

.about .image {
    flex: 1 1 460px;
}


.about .image img {
    width: 100%;
    border-radius: 30px;
    max-height: 450px;
}

.about .content {
    flex: 1 1 540px;
}


.about .content h3 {
    font-size: 35px;
    color: black;
    font-family: 'Merienda one', cursive;
    padding-bottom: 16px;
}

.about .content p {
    padding: 16px 0;
    line-height: 2;
    color: var(--light-color);
    font-size: 18px;
}


.facility .box-container {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    gap: 32px;
    align-items: flex-start;
}


.facility .box-container .box {
    text-align: center;
}

.facility .box-container .box img {
    height: 90px;
    margin-bottom: 10px;
}


.facility .box-container .box h3 {
    font-size: 20px;
    color: black;
    margin: 14px 0;
}

.facility .box-container .box p {
    line-height: 2;
    font-size: 14px;
    color: burlywood;
}

.menu .box-container {
    display: flex;
    gap: 15px;
    justify-content: center;
}


.menu .box-container .box {
    text-align: center;
}


.menu .box-container .box img {
    width: 220px;
    margin-bottom: 16px;
}


.menu .box-container .box h3 {
    font-size: 26px;
    color: black;
}

.gallery .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 24px;
    justify-content: center;
}


.gallery .box-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.team .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 33rem);
    gap: 24px;
    justify-content: center;
}


.team .box-container .box {
    text-align: center;
}

.team .box-container .box img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 8px;
}

.team .box-container .box h3 {
    font-size: 20px;
    color: black;
}


.contact .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.contact .row .image {
    flex: 1 1 600px;
}

.contact .row .image img {
    width: 90%;
    border-radius: 25px;
}

.contact .row form {
    flex: 1 1 400px;
    border: 1px solid burlywood;
    padding: 5px;
    text-align: center;
}

.contact .row form h3 {
    font-size: 35px;
    margin-bottom: 12px;
    color: grey;
}

.contact .row form .box {
    width: 90%;
    padding: 20px;
    font-size: 20px;
    color: black;
    border: 1px solid burlywood;
    margin: 14px 0;
}


.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 16px;
    align-items: flex-start;
}


.footer .box-container .box {
    text-align: center;
}

.footer .box-container .box i {
    font-size: 2.5rem;
    line-height: 6rem;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-color: var(--main-color);
    color: white;
    margin-bottom: 1rem;
}

.footer .box-container .box h3 {
    margin: 1rem 0;
    font-size: 2rem;
    color: black;
}


.footer .box-container .box p {
    line-height: 2;
    font-size: 1.6rem;
    color: var(--light-color);
}


.footer .credit {
    text-align: center;
    margin-top: 3rem;
    padding-top: 2.5rem;
    border-top: var(--border);
    font-size: 2rem;
    color: black;
}


.footer .credit span {
    color: var(--main-color);
}









/*  media quaries  */


@media (max-width:1200px) {

    html {
        font-size: 60%;
    }

}

@media (max-width:900px) {

    #menu-btn {
        display: inline-block;
        transition: .2s linear;
    }

    #menu-btn.fa-times {
        transform: rotate(180deg);
    }

    .header .flex .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }

    .header .flex .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .flex .navbar a {
        display: block;
        margin: 2rem;
    }

    .home-bg {
        background-position: left;
    }

    .home-bg .home {
        justify-content: center;
    }

    .home-bg .home .content h3 {
        font-size: 4rem;
    }

    .about .content h3 {
        font-size: 3rem;
    }

}

@media (max-width:600px) {

    html {
        font-size: 50%;
    }

    .heading img {
        height: 3rem;
    }

    .heading h3 {
        font-size: 3rem;
    }

}